{% extends "layouts/base_dashboard.html" %}
{% block base_dashboard %}

<div class="d-flex align-items-center justify-content-between">
    <h3>Applications</h3>
    <div class="mb-3">
        <a href="{% url "umrah:application-add" %}" class="btn btn-primary"><i class="bi bi-plus"></i> Add Application</a>
    </div>
</div>

<form method="get" class="mb-3">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="search customers...." value="{{request.get.search}}">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table custom-table table-striped table-bordered">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Full Name</th>
            <th>Package</th>
            <th>Registration Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody class="">
        <tr>
            {% for application in applications %}
            <td>{{application.customer.customer_id}}</td>
            <td>{{application.customer.first_name}} {{application.customer.last_name}}</td>
            <td>{{application.package.name}}</td>
            <td>{{application.registration_date}}</td>
            <td>{{application.status}}</td>
            <td>
                <a href="{% url "umrah:application-detail" application.pk %}" class="btn btn-sm btn-info">
                    <i class="bi bi-eye"></i>
                    View
                </a>
                <a href="{% url "umrah:application-edit" application.pk %}" class="btn btn-sm btn-info">
                    <i class="bi bi-pen"></i>
                    Edit
                </a>
                <form method="post" action="{% url "umrah:application-archive" application.pk %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="bi bi-archive"></i>
                        Archive
                    </button>
                </form>
            </td>
        </tr>
        
        {% empty %}
        <tr>
            <td colspan="4">No Applications Found.</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}