:root{
    --primary: rgb(107, 232, 82);
    --txt-color: rgb(232, 232, 232);
}


body{
    background-color: rgb(39, 39, 39);
    color: var(--txt-color);
}

.login-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card{
    width: 400px;
    padding: 2rem;
    border: none;
    background-color: rgb(66, 66, 66);
    border-radius: 20px;
    color: rgb(175, 175, 175);
}

.form-control,
.form-check-input{
    background-color: transparent;
    border: 1px solid rgb(104, 104, 104);
    transition: all 300ms ease-in-out;
}

.form-control:focus,
.form-check-input:focus{
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgb(101, 101, 101);
}

.form-control::placeholder{
    color: rgb(188, 188, 188);
}

.forget-password{
    color: rgb(134, 187, 0);
}
.btn-primary{
    background-color: rgb(112, 142, 37);
    border: 0;
    transition: all 300ms ease-in-out;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: rgb(98, 128, 0);
    transform: translateY(-2px);
    box-shadow: 0px 2px 20px rgba(166, 255, 0, 0.33);
}





/* sidebar design  */

.sidebar{
    background-color: rgb(51, 51, 51);
    width: 180px;
    padding: 10px 20px;
    height: 500px;
    border-radius: 20px;
}

.sidebar a{
    border-bottom: 1px solid rgb(111, 111, 111);
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;
}

.sidebar a:hover{
    color: var(--primary);
    letter-spacing: 2px;
}