{% extends "layouts/base_dashboard.html" %}
{% block base_dashboard %}

<div class="detail-card">
    <div class="card-body">
        <h3 class="card-title mb-3">Payment Detail</h3>
        
        <div>
            <strong>Customer:</strong>
            <p>{{payment.application.customer.first_name}} {{payment.application.customer.last_name}}</p>
        </div>

        <div>
            <strong>Amount:</strong>
            <p>{{payment.amount}}</p>
        </div>

        <div>
            <strong>Payment Method:</strong>
            <p>{{payment.payment_method}}</p>
        </div>

        <div>
            <strong>Payment Date:</strong>
            <p>{{payment.payment_date}}</p>
        </div>

        <div>
            <strong>Created By:</strong>
            <p>{{payment.created_by}}</p>
        </div>

        <div>
            <strong>Created At:</strong>
            <p>{{payment.created_at}}</p>
        </div>

        
    </div>
</div>



{% endblock %}